flask==1.1.1
flask-script==2.0.6
psycopg2==2.8.4
flask-sqlalchemy==2.4.1
flask-migrate==2.5.3
flasgger==0.9.4
flask-jwt-extended==3.24.1
authlib==0.14.1
passlib==1.7.2
bcrypt==3.1.7
marshmallow==3.5.1
webargs==6.0.0
